<nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand logo-nav" href="/">Viet's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{#if isAuthenticated}}
        <!-- User đã đăng nhập -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}src\public\img\logo.png{{/if}}" alt="" class="user-avatar">
            {{#if user.lastName}}{{user.lastName}}{{else}}###{{/if}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/auth/profile">Tài khoản</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Cài đặt</a>
            <div class="dropdown-divider"></div>
            {{!-- <a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/courses">Khóa học của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/news">Bài đăng của tôi</a> --}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">Đăng xuất</a>
          </div>
        </li>
      {{else}}
        <!-- User chưa đăng nhập -->
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Đăng ký</a>
        </li>
      {{/if}}
    </ul>
  </div>
 </div>
</nav>